/* Para usar las fuentes
    font-family: 'Lora', serif;

    font-family: 'Playfair Display', serif;

    font-family: 'Work Sans', sans-serif;
*/
/* desktop */
@media (max-width:1600px){
    h1{
        font-family: 'Playfair Display', serif;

    }
    h4{
        font-family: 'Playfair Display', serif;
    }
    p{
        font-family: 'Work Sans', sans-serif;
    }
    /* vista uno -index*/
    /* HU01-Nav1- */
    .encabezado{
        display: flex;
        justify-content: space-between;
        margin: 50px;
    }
    .menu {
        display: flex;
        margin-left: -450px;
    }
    

    .opcion{
        padding: 10px;
    }
    .logo-nav{
        width:150px; 
        height: 40px;
        margin-left: -200px;
        
    }
    .carrito{
        margin-right: 30px;
        
    }
    .fa-chevron-down{
        color: black;
    }
    .fa-shopping-cart{
        color: #333333;
    }
    .fa-bars{
        color: white;
        
    }

    /* HU04-Latest Products (4tarjetas)  */
    .latest-products{
        background-image: url(../img/bg-1.jpg) ;
        margin: 50px;
    }
    
    .text-latest{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
        /* padding-right: 10px; */
    }
    .titulo-latest-products{
        font-size: 40px;
        font-weight: lighter;
        margin-bottom: 5px;
    }
    .descrip{
        font-weight: lighter;
        font-size: 20px;
        margin-bottom: 30px;
    }
    .caja-latest{
        padding-top: 50px;
        padding-bottom: 80px;
        padding-left: 150px;
    }
    .caja-product{
        display: flex;
        position: relative;
        text-align: left;
    }
    .img-text{
        padding-left: 15px;
        color: #626161;
    }
    .product{
        display: flex;
        flex-direction: row;
        border: 1px solid #cccccc;
        justify-content: space-around;
        margin-left: 10px;
        margin-right: 10px;
    }
    .descuento{
        color: white;
        display: flex;
        border-radius: 100%;
        background-color: #529F0F;
        width: 25px;
        height: 25px;
        font-size: 10px;
        justify-items: center;
        align-items: center;
        position: absolute;
        z-index: 1;
        top: 3px;
        margin-left: 20px;
    }
    

        /* HU09-Imgx5 (logos) */
    .logos-5{
        display: flex;
        justify-content: space-around;
        padding: 100px;
        padding-left: 100px;
        padding-top: 230px;
    }
    /* vistados */
    /* HU15- Related Products (4 tarjetas */
    .caja-related{
        padding: 10%;
        
    }
    .titulo-related{
        text-decoration: underline;
        font-size: 40px;
        font-weight: lighter;
    }

    /* HU11-Nav2- */
    .encabezado-2 {
        display: flex;
        justify-content: space-between;
        margin-left: 250px;
        margin-top: 50px;
        
    }
    .logo-nav-2 {
        width: 150px;
        height: 40px;
        margin-left: -200px;

    }
    .menu-2{
        margin-right: 50px;
        padding-left: 650px;
    }
    .carrito-2{
        margin-right: 100px;
    }
   
    /* HU10- Footer- dos vistas */
    .footer{
        background-color: #efefef;
        margin-bottom: -20px;
    }
    .list-general{
        padding: 24px 24px 24px 24px;
        margin: 8px 8px 8px 8px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        list-style: none;
        
    }
    ul{
        font-size: 15px;
        list-style: none;
        line-height:40px;
        color:#575757;
    }
    .titu{
        font-size: 20px;
        font-weight: lighter;
        line-height: 50px;
        color: black;
    }
    .pie-pagina{
        display: flex;
        justify-content: space-around;
        background-color: #e4e4e4;
        padding-top: 5px;
    }
    .img-pie{
        width: 25%; 
        height: 90%;
        margin-top: 15px;
    }
    .fa-copyright{
        color: black;
    }
    .fa-heart{
        color: red;
    }
}
/* mobile */
@media (max-width:600px) {
        /* vista uno -index*/
        /* HU01-Nav1- */
    
    .logo-nav{
        padding-left: 200px;
    }
    .menu {
        visibility: hidden;
    }
    .carrito {
        margin-right: -20px;
    }
    .fa-bars {
        color: black;
        padding-left: 50px;
    }
    /* HU04-Latest Products (4tarjetas)  */
    .latest-products {
        margin: 20px;
        
    }
    .caja-latest {
        padding-left: 50px;
        margin-left: -30px ;
    }
    .text-latest {
        width: 300px;
        
    }
    .caja-product {
        padding-left:5px;
    }
    
    /* HU11-Nav2- */
    
    .logo-nav-2{
        padding-right: -800;
    }
    .menu-2 {
        visibility: hidden;
    }
    .carrito-2{
        margin-left: -750px;
    }

    /* HU09-Imgx5 (logos) */
    .mobile {
        width: 100px;
        visibility: hidden;
    }
    .logos-5{
        padding-left: 380px;
        
    }

/* HU10- Footer- dos vistas */
    .list-general {
        flex-direction: column;
        justify-content: left;
    }
    .pie-pagina {
        flex-direction: column;
        align-items: center;
        padding-bottom: 30px;
    }
    .img-pie {
        width: 300px;
    }
}